div.rpl {
    width: 1514px;
    height: 600px;
    border: 2px solid #000000;
}

img {
    width: 600px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

div.ak {
    width: 1514px;
    height: 600px;
    border: 2px solid #000000;
}

div.bdp {
    width: 1514px;
    height: 600px;
    border: 2px solid #000000;
}

div.lp {
    width: 1514px;
    height: 600px;
    border: 2px solid #000000;
}

div.otkp {
    width: 1514px;
    height: 600px;
    border: 2px solid #000000;
}